
.metismenu-state-icon{
    font-size: 15px !important;
}
.logo{
    height: 33px;
    width:60px;
}

.pagination  li a, .pagination  li span{
    cursor: pointer;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color:transparent;
    border: 1px solid #dee2e6;
}
.pagination li{
    margin: 0 3px;
    color: #3f6ad8 !important;
    background-color:white !important;
}
   .paginate  li.active{
    background-color:#3f6ad8 !important;
    color: white !important;
}


/* Frontend */

.cart{
    position: relative;
    background-color: rgb(245, 27, 27);
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top: -12px;
    left: -3px;
    font-size: 11px;
}
.owl-carousel .owl-item img{
    width: 100px !important;
}