
.metismenu-state-icon{
    font-size: 15px !important;
}
.logo{
    height: 33px;
    width:60px;
}

.pagination  li a, .pagination  li span{
    cursor: pointer;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color:transparent;
    border: 1px solid #dee2e6;
}
.pagination li{
    margin: 0 3px;
    color: #3f6ad8 !important;
    background-color:white !important;
}
   .paginate  li.active{
    background-color:#3f6ad8 !important;
    color: white !important;
}


/* Frontend */

.cart{
    position: relative;
    background-color: rgb(245, 27, 27);
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top: -12px;
    left: -3px;
    font-size: 11px;
}
.owl-carousel .owl-item img{
    width: 100px !important;
}

/* Loading */
#facebookG{
    background-color: rgb(247, 244, 244) !important;
    height: 100vh !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.facebook_blockG{
	background-color:#3985f7;
	border:1px solid #fcfbfb;
	height:46px;
	width:15px;
	opacity:0.1;
	animation-name:bounceG;
	animation-duration:1s;
	animation-iteration-count:infinite;
	transform:scale(0.7);
}
div#facebookG > .facebook_blockG:nth-child(even) {
	margin: 0 3px;
}
#blockG_1{
	animation-delay:0.18s;
}
#blockG_2{
	animation-delay:0.24s;
}
#blockG_3{
	animation-delay:0.3s;
}
@keyframes bounceG{
	0%{
		transform:scale(1.2);
		opacity:1
	}
	100%{
		transform:scale(0.7);
		opacity:0.1
	}
}
